.navbar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: var(--mantine-spacing-xs);
  border-radius: 0.5rem;
  color: var(--mantine-color-dimmed);

  &[data-active] {
    color: var(--mantine-color-white);
    background-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    color: var(--mantine-color-white);
    text-decoration: none;
  }
}
